/* selector {property:value;} */
/*Menu */
nav {font-family: 'pt sans narrow',sans-serif;}
li {
  display: inline-block;
  padding: 5px;
}


/*Logo */
h1 {
  font-family: 'anton',cursive;
}

/*headline one*/
.bigheadline {
  text-align: center;
}
h2 {
  font-family: 'forum',serif;
}

#indexpage .mainnavigation li:nth-child(1) {background-color: yellow;}
#portfoliopage .mainnavigation li:nth-child(2) {background-color: yellow;}
#aboutpage .mainnavigation li:nth-child(3) {background-color: yellow;}

/*feedback page*/
.tealbg {background-color: teal;}
.feedbackform {
  padding: 100px;
  background-image: url();

  /*if you want the background image in the back of the whole page, use body as a selector. but change the size of image*/
  }
