/* selector {property:value;} */
nav {border: 1px solid red;}


#indexpage .mainnavigation li:nth-child(1) {background-color: yellow;}
#portfoliopage .mainnavigation li:nth-child(2) {background-color: yellow;}
#aboutpage .mainnavigation li:nth-child(3) {background-color: yellow;}

/*feedback page*/
.tealbg {background-color: teal;}
.feedbackform {
  padding: 100px;
  background-image: url();

  /*if you want the background image in the back of the whole page, use body as a selector. but change the size of image*/
  }
